* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body > *{
    width: 80%;
    margin: auto;
    /* margin-bottom: 10px; */
}

body p {
    font-size: 12px;
}

/* HEADER */
header {
    margin-bottom: 10px;
}

header > #logo > img {
   padding-right: 15px;
   margin: 20px 0;
   width: 150px; 
   border-right: 1px solid lightgrey;
}

header  nav ul {
    list-style: none;
}

header  nav li {
    font-size: 12px;
}

header  nav a {
    padding: 0 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* MAIN */
/* Upper section */
main {
    margin-bottom: 10px;
}

main > .upper {
    height: 400px;
    margin: 20px 0;
}

main > .upper > figure {
    height: 100%;
    background-image: url(img/banner.jpg);
    background-position: center;
    border-radius: 20px;
    : ;
}

main > .upper  figcaption {
    color: white;
    padding: 250px 45% 0 50px;
    height: fit-content;
}

/* Lower section */

main .lower {
    /* background-color:rgb(6, 130, 255); */
}

main .lower > *:not(header) {
    background-color: skyblue;
    margin-bottom: 1%;
}

section > header > p {
    color: lightgrey;
}

.lower > aside, article {
    float: left;
    height: 400px;
} 

main > section > aside {
    width: 25%;
}

main > section > article {
    width: 48%;
    margin: 0 1%;
}

main > section.lower::after {
    content: "";
    display: table;
    clear: both;
}

main >.lower .caption {
    height: 40%;
    background-position: center;
    border-radius: 20px;
}

main > .lower .caption#left {
    background-image: url(img/img-1.jpg);
}

main > .lower .caption#center {
    background-image: url(img/banner-2.jpg);
}

main > .lower .caption#right {
    background-image: url(img/img-3.jpg);
}

footer {
    background-color:rebeccapurple;
    height: 35px;
}