* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body > *{
    width: 80%;
    margin: auto;
}

/* HEADER */
header {
    margin-bottom: 10px;
}

header > #logo > img {
   padding-right: 15px;
   margin: 20px 0;
   width: 150px; 
   border-right: 1px solid lightgrey;
}

header  nav ul {
    list-style: none;
}

header  nav li {
    font-size: 12px;
}

header  nav a {
    padding: 0 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* MAIN */

main {
    margin-bottom: 10px;
}

main > figure {
    background-color:khaki;
    height: 250px;
    margin: 20px 0;
}

main > section {
    background-color:rgb(6, 130, 255);
}

main > section > * {
    background-color: skyblue;
    margin-bottom: 1%;
}

main  nav {
    height: 45px;
}

main > section > aside {
    width: 25%;
}

main > section > article {
    width: 48%;
    margin: 0 1%;
}

aside, article {
    float: left;
    height: 300px;
} 

main > section::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color:rebeccapurple;
    height: 35px;
}